.logo-mario {
    width: 200px;
}

button {
    color: white; /* cor do texto*/
    background-color: #c11111; /* cor do fundo*/
    border-radius: 3px; /* as potinhas da borda*/
    border: none; /* sem borda vai deixa mais atrativo*/
    font-weight: bold; /* Vai deixa em negrito*/
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;/* tudo em letra maiucula*/
}
.mario-luigi{
    width: 500px;
}
body{
    display: flex;
}